<h1>
  welcome to
  <i class="fas fabook"></i>
  <strong>Bookers</strong>
   !!
</h1>

<p>
  In
  <i class="fas fabook"></i>
  <strong>Bookers</strong>,
</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
<div class="row">
  <li><%= link_to "Login", new_user_session_path %></li>
</div>
<div class="row">
  <li><%= link_to "Sign up", new_user_registration_path %></li>
</div>
